<h1>Listing toys</h1>

<table>
  <thead>
<!--     <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->
  </thead>



    <% @toys.each do |toy| %>
      <tr>
        <td><%= link_to image_tag(toy.url, :width => 400), toy %></td>
        <td>
        <div><%= link_to toy.name, toy %></div>
        <div><%= toy.description %></div>
        <div><%= number_to_currency toy.price, :unit => "&dollar;" %></div>
        <%= button_to "Your Cart", :controller => :carts, :action => :index , :id => toy %>
        <div><%= link_to 'Show', toy %> <%= link_to 'Edit', edit_toy_path(toy) %> <%= link_to 'Destroy', toy, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toy', new_toy_path %>
